<%- include("partials/header"); -%>

<div class="centered ">
  <h2>You can contact me at:</h2>
  <div class="contact-div">
    <a href="https://www.facebook.com/ItsikT94"><i class="fab fa-facebook contact-icon" id="facebook-icon"></i></a>
    <a href="https://www.linkedin.com/in/itsik-temnov/"><i class="fab fa-linkedin contact-icon" id="linkedin-icon"></i></a>
    <label class="labelWithIcon"><i class="fas fa-envelope contact-icon" id="mail-icon"></i>
      <h4 class="icon">itsikt94@gmail.com</h4>
    </label>
    <label class="labelWithIcon"><i class="fas fa-phone contact-icon" id="phone-icon"></i>
      <h4 class="icon">054-8039499</h4>
    </label>
  </div>
</div>


<%- include("partials/footer"); -%>
