<%- include("partials/header"); -%>


<div class="centered" id="home-div">

  <div class="hOne">
    <h1>I'm Itsik Temnov.</h1>
  </div>

  <div class="par">
    <p class="brand">A software developer.</p>
  </div>


</div>



<%- include("partials/footer"); -%>
